@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import "./custom-media";

.banner-container {
  display: flex;
  width: 100%;
  min-height: 60px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 72, 158, 1) 0%,
    rgba(0, 127, 255, 1) 100%
  );
  align-items: center;
  justify-content: center;
  padding: 10px 50px 10px 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @include media-xs-only {
    padding: 5px 20px 5px 20px;
  }
}

.banner-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  font-size: 1.1rem;
  color: white;
  @include media-xs-only {
    font-size: 0.9rem;
  }
}

a,
a:visited,
a:active {
  @include media-xs-only {
    font-size: 0.9rem;
  }
}
