@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import "./custom-media";

.footer-title {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600 !important;
  font-size: 1rem;
}

.footer-subtitle {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400 !important;
  font-size: 0.9rem;
}

.footer-header {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 2.3rem;
  @include media-xs-only {
    font-size: 1.4rem;
  }
}
