@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import "./custom-media";

.title {
  &-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &-header {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    max-width: 1000px;
    color: white;
    @include media-xs-only {
      font-size: 1.5rem;
    }
    @include media-sm-only {
      font-size: 2rem;
    }
    @include media-xxl-only {
      max-width: 1200px;
      font-size: 3.7rem;
    }
  }

  &-sub-header {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 600px;
    color: white;
    @include media-xs-only {
      font-size: 1.1rem;
    }
    @include media-sm-only {
      font-size: 1.3rem;
      max-width: 400px;
    }
    @include media-xxl-only {
      font-size: 2rem;
      max-width: 900px;
    }
  }
}

.item {
  &-container {
    display: block;
    max-width: 400px;
    margin: auto;
    padding: 10px;
  }

  &-title {
    font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
  }

  &-sub-title {
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }

  &-img {
    margin-top: -50px;
    border-radius: 50px;
  }
}

.related-club {
  &-title {
    display: block;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
    @include media-sm-and-up {
      justify-content: center;
      gap: 40px;
    }
  }

  &-card-container {
    width: fit-content;
    @include media-sm-and-up {
      padding: 10px 20px 10px;
    }
    @include media-xs-only {
      padding: 5px;
    }
    border-radius: 10px;
    transition: background-color 0.5s ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
  }

  &-card-container:hover {
    cursor: pointer;
    background-color: #e8e8e8;
  }

  &-card-img {
    @include media-sm-and-up {
      width: 60px;
      height: 60px;
      max-width: 60px;
    }
    @include media-xs-only {
      width: 40px;
      height: 40px;
      max-width: 40px;
    }
    margin: auto;
  }

  &-card-header {
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    @include media-sm-and-up {
      font-size: 1.8rem;
    }
    @include media-xs-only {
      font-size: 1.25rem;;
    }
  }
}

.about-title {
  display: block;
  width: 300px;
  margin: auto;
  margin-bottom: 75px;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.event {
  &-title {
    display: block;
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }

  &-sub-title {
    display: block;
    max-width: 800px;
    margin: auto;
    margin-bottom: 75px;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    @include media-xs-only {
      font-size: 1.5rem;
    }
    @include media-sm-only {
      max-width: 600px;
    }
  }

  &-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #e0e0e0;
    margin: auto;
  }

  &-header {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 20px 0;
  }

  &-sub-header {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    max-width: 400px;
    display: block;
    margin: auto;
  }
}

.navigation {
  width: 100%;
  min-height: 200px;
  padding-bottom: 30px;
  background-color: #1c548d;

  &-header {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 3rem;
    @include media-xs-only {
      font-size: 2rem;
    }
  }
}

.resource {
  &-title {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }

  &-card-container {
    margin: auto;
    padding: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.5s ease;
  }

  &-card-container:hover {
    cursor: pointer;
    background-color: #e8e8e8;
  }

  &-img {
    max-width: 300px;
    height: 100px;
    margin: auto;
  }

  &-header {
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
  }

  &-sub-header {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }
}
