@use "custom-media";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.app-bar {
  display: flex;
  width: 100%;
  @include custom-media.media-md-and-up {
    margin-inline: 5%;
  }
  @include custom-media.media-sm-and-down {
    margin-inline: 0;
  }
}

.logo {
  &:hover {
    cursor: pointer;
  }
  @include custom-media.media-xs-only {
  }
  @include custom-media.media-sm-only {
  }
}

.routes {
  margin-top: auto;
  margin-bottom: auto;
  @include custom-media.media-xs-only {
  }
  @include custom-media.media-sm-only {
  }
}
