@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import "./custom-media";*
{
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-size: 1.1rem;
}
#dropArea {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 0.5em auto;
  padding: 20px;
  display: grid;
  justify-items: center;
  }
  #dropArea.highlight {
    border-color: #104ca4 ;
  }
  p {
  margin: 0.5em auto;
  }
  .my-form {
    /* margin-bottom: 10px; */
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  button{
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    padding: 1em;
    margin: 0.5em auto;
    display: block;
    border-radius: 20px;
    background: rgb(255, 255, 255);

  }
  button:hover {
    background: rgb(186, 186, 186);
    transition-duration: 20ms;
  }
  button, button::before{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    }
  
  #fileElement {
    
    width: 129px;
    margin: 0.5em auto;
  }
  #pdfViewingArea{
    display: grid;
    justify-content: center;
  }
  #pdf{
    width: 50em;
    height: 40em;
  }
  #metaData{
    display: grid;
    justify-content: center;
    justify-items: center;

  }
  