@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import "./custom-media";*
{
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
    font-size: 1.1rem;
}
#dropArea {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 25px auto;
    padding: 20px;
    display: grid;
    justify-items: center;
  }
  #dropArea.highlight {
    border-color: #104ca4 ;
  }
  p {
  margin: 0.5em auto;
  }
  .my-form {
    /* margin-bottom: 10px; */
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button{
    padding: 1em;
    margin: 0.5em auto;
    display: block;
    border-radius: 20px;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElement {
    
    width: 129px;
    margin: 0.5em auto;
  }
  #pdfViewingArea{
    display: grid;
    justify-content: center;
  }
  #pdf{
    width: 50em;
    height: 40em;
  }
  #metaData{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0px 0px 25px 0px;

  }
  